<link rel="stylesheet" href="style.css">
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontre o Jogador</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Home > Encontre jogadores > Ata</h1>
    </header>
    <div class="search-bar">
        <input type="text" placeholder="Hinted search text">
    </div>
    <div class="container">
        <h2>Encontre o seu jogador</h2>
        <div class="player-info">
            <p>Over all: ______</p>
            <p>Nome: ______</p>
            <p>Local: ______</p>
        </div>
        <table class="table">
            <tr>
                <td>Nome: José</td>
                <td>Over all: 76</td>
                <td>Local: Rio de Janeiro</td>
            </tr>
            <tr>
                <td>Nome: Edu</td>
                <td>Over all: 85</td>
                <td>Local: Rio de Janeiro</td>
            </tr>
            <tr>
                <td>Nome: Gustavo</td>
                <td>Over all: 95</td>
                <td>Local: São Paulo</td>
            </tr>
            <tr>
                <td>Nome: Davi</td>
                <td>Over all: 66</td>
                <td>Local: Paris</td>
            </tr>
            <tr>
                <td>Nome: João</td>
                <td>Over all: 77</td>
                <td>Local: Porto Alegre</td>
            </tr>
            <tr>
                <td>Nome: Yuri</td>
                <td>Over all: 96</td>
                <td>Local: Nova York</td>
            </tr>
            <tr>
                <td>Nome: Chico</td>
                <td>Over all: 77</td>
                <td>Local: Rio de Janeiro</td>
            </tr>
            <tr>
                <td>Nome: Fernando</td>
                <td>Over all: 57</td>
                <td>Local: São Paulo</td>
            </tr>
            <tr>
                <td>Nome: John</td>
                <td>Over all: 91</td>
                <td>Local: EUA - Washington</td>
            </tr>
            <tr>
                <td>Nome: Fabrício</td>
                <td>Over all: 90</td>
                <td>Local: Portugal - Porto</td>
            </tr>
            <tr>
                <td>Nome: José</td>
                <td>Over all: 70</td>
                <td>Local: Ceará</td>
            </tr>
            <tr>
                <td>Nome: Augusto</td>
                <td>Over all: 60</td>
                <td>Local: Roraima</td>
            </tr>
            <tr>
                <td>Nome: Pietro</td>
                <td>Over all: 90</td>
                <td>Local: Minas Gerais</td>
            </tr>
            <tr>
                <td>Nome: Fernando</td>
                <td>Over all: 89</td>
                <td>Local: São gonçalo</td>
            </tr>
            <tr>
                <td>Nome: Pedro</td>
                <td>Over all: 76</td>
                <td>Local: Niterói</td>
            </tr>
            <tr>
                <td>Nome: Paulo</td>
                <td>Over all: 67</td>
                <td>Local: São Paulo</td>
            </tr>
        </table>
    </div>
</body>
</html>

