<link rel="stylesheet" href="posJogador.css">
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontre Jogadores</title>
   
</head>
<body>
    <header>
        <h1>Home > Encontre jogadores</h1>
    </header>
    <div class="search-bar">
        <input type="text" placeholder="Hinted search text">
    </div>
    <div class="container">
        <h2>Qual é a posição do jogador?</h2>
        <div class="grid">
            <div>Ata</div>
            <div>Gol</div>
            <div>Zag</div>
            <div>Vol</div>
            <div>LD</div>
            <div>LE</div>
            <div>MC</div>
            <div>MD</div>
            <div>ME</div>
            <div>PD</div>
            <div>PE</div>
            <div>SA</div>
        </div>
    </div>
</body>
</html>
